@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: smooth scrolling */
html {
  scroll-behavior: smooth;
}
.planet {
  animation: orbit linear infinite;
}

@keyframes orbit {
  from { transform: rotate(0deg) translateX(220px) rotate(0deg); }
  to { transform: rotate(360deg) translateX(220px) rotate(-360deg); }
}
